/* unidades de medidas*/
/*absolutas y relativas*/
/*rem y em*/

/*1rem = 16px*/
/*1em=16px

div{
    font-size: 28px;
}

div h1{
    font-size: 1em;
}

*/

/*estilos generales*/
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e0d0d;
}

/*estilos de header*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul{
    list-style: none;
    color: whitesmoke;
    display: flex;
    gap: 1.5rem;
}

/*estilos de main*/
main{
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    gap: 2rem;
    margin: 3rem 2rem 1rem 2rem;
}

main .img-dos, .img-cinco{
    display: none;
}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*estilos de footer*/
footer{
    margin-top: 3rem;
    text-align: center;
    color: whitesmoke;
}

/*media query de tablet*/

@media  screen and (min-width:600px) {
    main{
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(2, 50%);
    }

    main .img-cuatro{
        grid-column: span 2;
}


    }
    
    @media  screen and (min-width:1024px) {
        main .img-cinco, main .img-dos{
            display: block;
        }

        main{
            grid-template-columns:repeat(3, 1fr) ;
            gap: 1rem;
            grid-template-rows:40% 40% 20% ;
        }

        main .img-uno, main .img-tres{
            grid-row: span 2;
        }

        main  .img-dos, main .img-cuatro{
            grid-column: span 1;
        }

        main .img-cinco{
            grid-column: span 3;
        }

    }  